alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
azure-cognitiveservices-vision-computervision==0.4.0
azure-common==1.1.23
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.162
botocore==1.12.163
bz2file==0.98
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
clickclick==1.2.2
cloudpickle==1.2.1
clyent==1.2.2
cmake==3.14.4
conda==4.7.5
conda-build==3.17.8
conda-package-handling==1.3.11
conda-verify==3.1.1
connexion==2.3.0
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
dateparser==0.7.1
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.1
django-allauth==0.39.1
django-oauth-toolkit==1.2.0
django-rest-framework==0.1.0
djangorestframework==3.10.1
dlib==19.17.0
docutils==0.14
entrypoints==0.3
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.1
Flask-Injector==0.12.0
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-WTF==0.14.2
foreman==0.9.7
future==0.17.1
gensim==3.4.0
glob2==0.7
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.17.0
google-cloud-vision==0.38.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
grpcio==1.22.0
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
imutils==0.5.2
incremental==17.5.0
inflection==0.3.1
injector==0.17.0
invoice2data==0.3.4
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipython-memory-usage==1.1
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.3
jeepney==0.4
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.5.0
jupyterlab==0.35.5
jupyterlab-server==0.2.0
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
lief==0.9.0
limits==1.3
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
memory-profiler==0.55.0
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
msrest==0.6.9
murmurhash==1.0.2
mysql==0.0.2
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.2.post1
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4.5
notebook==5.7.8
numpy==1.16.4
numpydoc==0.9.1
oauthlib==3.0.2
olefile==0.46
openapi-spec-validator==0.2.8
opencv-contrib-python==4.1.0.25
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pkginfo==1.5.0.1
plac==0.9.6
plotly==3.10.0
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
ptyprocess==0.6.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
PyDispatcher==2.0.5
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.4.2
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pylivestream==1.9.4
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
PySocks==1.7.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
queuelib==1.5.0
regex==2019.6.8
requests==2.22.0
requests-futures==1.0.0
requests-oauthlib==1.2.0
retrying==1.3.3
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.0
scikit-learn==0.21.2
scipy==1.3.0
Scrapy==1.7.3
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
snowballstemmer==1.9.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.8
spacy==2.1.8
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.5
spyder-kernels==0.5.0
SQLAlchemy==1.3.8
sqlparse==0.3.0
srsly==0.1.0
statsmodels==0.10.0
swagger-ui-bundle==0.0.5
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
Twisted==19.7.0
typing==3.7.4.1
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.24.2
virtualenv==16.7.5
w3lib==1.21.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.4.2
wrapt==1.11.2
WTForms==2.2.1
wurlitzer==1.0.2
xlrd==1.2.0
zope.interface==4.6.0
